.news{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
}
.card{
    margin-right:15%;
    padding:1px 16px;
    height:1000px;
}
.image{
    margin-left:-25%;
    padding:1px 10px;
    height:1000px;
}